<!DOCTYPE html>
<html>
<head lang="en">
    <title>PwManager</title>
    <link rel="stylesheet" type="text/css" href="layout.php?file=stylesheet.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="main">
        <div class="content">
            <div>
                <ul>
                    <li><h1>Entries</h1></li>
                </ul>
            </div>
            ###content###

            <!--
            <div>
                <ul>
                    <li><h2>Pr0</h2></li>
                    <li><b>Username: </b> Pimmelberger</li>
                    <li><b>Benis: </b> Viel</li>
                </ul>
            </div>-->
            <a href="layout.php?file=new.html">add new</a>
        </div>
        <div class="userInfos">
            <h3>User Informatin:</h3>
            <ul>
                <li>Username: <b>###username###</b></li>
                <li><a href="user/logout.php">logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>